/* ashkfkfhskh */
/* some text */

/* selected tag{
  property: value;
} */

h1{
  color: blue;

}


li{
  /* color: green; */
  color: rgb(216, 21, 37);
}

p{
  color: #12bc12;
}

h4{
  color: rgba(255, 0, 0, 0.5);
}
